.task-container {
    border: 0.25rem solid black;
    border-radius: 50px;
    padding: 1rem 1rem;
    max-width: 50rem;
    justify-items: center; 
}

.green-star {
    color: green;
}

.lime-star {
    color: lime;
}

.yellow-star {
    color: yellow;
}

.orange-star {
    color: orange;
}

.red-star {
    color: red;
}