/* Nav CSS styling */

.desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mobile {
  display: none;
}

.nav-element {
  margin: 1em;
}

/* Components */

.links {
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }   

  li {
    margin: 0.5rem;
  }

  a {
    color: #ffffff;
    transition: all 0.15s;
    text-decoration: none;
  }

  a:hover {
    color: #f73333;
  }
}

/* Mobile */

@media (max-width: 750px) {
  .desktop {
    display: none;
  }

  .mobile {
    width: 3.5em;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .links {
    ul {
      flex-direction: column;
      background-color: #303030;
    }
  }

  .hamburger-icon {
    cursor: pointer;
    background-color: #303030;
  }
}