/* Nav CSS styling */

nav {
  height: 10vh;
  width: 100%;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  margin: 1%;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.15s;
}

a:hover {
  color: #f73333;
}
